<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/formulario.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Agregar Carne</h1>
    <form method="POST">
        {{forma.csrf_token}}
        <p>
            {{forma.nombre.label}}<br/>
            {{forma.nombre(size=30)}}
        </p>
        <p>
            {{forma.descripcion.label}}<br/>
            {{forma.descripcion(size=30)}}
        </p>
        <p>
            {{forma.precio.label}}<br/>
            {{forma.precio(size=30)}}
        </p>
        <p>
            {{forma.peso.label}}<br/>
            {{forma.peso(size=30)}}
        </p>
        <p>
            {{forma.enviar()}}
        </p>
    </form>
</body>
</html>